* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html::-webkit-scrollbar {
  width: 0px;

}

ul {
  list-style: none;
  display: flex;
  place-items: center space-between;
  gap: 20px;
}



a {
  text-decoration: none;
  color: inherit;
  display: block;
}

header {
  width: 100vw;
  color: rgb(0, 0, 0);
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  background-color: transparent;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;


}

.header-transp {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.7s;
}


h1 {
  font-size: 60px;
  line-height: 90px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.banner {
  width: 100vw;
  height: 100vh;
  background: url('./img1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;


  display: flex;
  flex-direction: column;
  padding: 40px;
  place-content: center;
  color: white;
}

.banner-bread {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.banner-bread a {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.banner-bread a.selected {
  background-color: rgb(255, 255, 255);
}